<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="{{ root }}css/style.css">
    <link rel="stylesheet" href="{{ root }}css/newsletter.css">
</head>

<body>
    <header>
        <div class="container">
            <a href="{{ root }}" class="logo">Dan's Test Site</a>
            <nav>
                <ul>
                    <li><a href="{{ root }}">Home</a></li>
                    <li><a href="{{ root }}about.html">About</a></li>
                    <li><a href="{{ root }}blog/">Blog</a></li>
                    <li><a href="{{ root }}faq.html">FAQ</a></li>
                    <li><a href="{{ root }}contact.html">Contact Us</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {{ content }}
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2025 Dan's Test Site. Built with Simplicity.</p>
        </div>
    </footer>
</body>

</html>